<% include partials/header.ejs %>
    <% if (!user){ %>
        <a href="/login">Login</a>
        <br>
        or
        <br>
        <a href="/register">Register</a>
    <% } %>
    <br>
    <% if (user) { %>
        <p>Login as <%=user%></p>
        <a href="/logout">Log out</a>
    <% } %>

<% include partials/footer.ejs %>